//testimonials

@import "breakpoint"

.testimonial-text
    width: 90%
    margin: auto
    font-size: $main-font-size
    font-style: italic
    &:before
        content: '"'
    &:after
        content: '"'
    @include breakpoint($smallScreen)
        width: 70%
        margin: auto
        font-size: $main-font-size*1.5
        

.testimonial-author
    width: 70%
    margin: auto
    text-align: right

.testimonial-section
    margin: 4% 2%