// Theme Information
//--------------------------------------------//
$theme_name: "mandala-heart"
$theme_uri: "https://github.com/tolkadot/mandala-heart"
$theme_description: "Wordpress Theme dev - 2017"
$theme_version: "1.0"
$theme_author: "Dee Bryant"
$theme_author_uri: "https://github.com/tolkadot/"
$theme_license: "GPL"
$theme_tags: "responsive-layout, post-formats"

$smallPhone: 0px 425px
$phone: 426px 500px
$tablet: 501px 700px
$smallScreen: 701px 1000px
$largeScreen: 1000px 2000px
$main-font-size: 16px
$main-font: 'Poiret One'
$copy-font: 'Roboto'
$bright: #e5554e
$containerWidth: 100%
$blurbHeight: 310px
$blockBase: gray
$connectBackground: #24b1e1