// Base 
@import "vars"
@import "theme_info"
@import "base/normalize"
@import "compass"
@import "frontPage"
@import "breakpoint"
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans)
@import url(https://fonts.googleapis.com/css?family=Open+Sans)
@import "compass/css3/flexbox"
@import "compass/css3"

=makeFlexRow
    @include display_flex
    flex-direction: row
    align-items: center
    justify-content: center
    
=makeFlexColumn
    @include display_flex
    flex-direction: column
    align-items: center
    justify-content: center

html, body
    font-family: $main-font
    font-size: $main-font-size

h1
    font-family: 'Josefin Sans', sans-serif

.navigation-top
    border: none

.single-post:not(.has-sidebar) #primary, .page.page-one-column:not(.twentyseventeen-front-page) #primary, .archive.page-one-column:not(.has-sidebar) .page-header, .archive.page-one-column:not(.has-sidebar) #primary
    max-width: 1000px

//WORKSHOPS
.workshopsSplash
    width: $containerWidth
    +makeFlexColumn
    @include breakpoint($largeScreen)
        flex-direction: row

.workshopGallery
    margin: 2%
    font-size: $main-font-size
    position: relative
    .workshopImage
        position: relative
        span 
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            padding: 1%
            background: rgba(255,255,255,.8)
        

.wrap
    @include breakpoint(48em)
        max-width: 1500px
 

.page-title-centered
    text-align: center
    font-size: 36px



